---
import data from "../data/autor.json";
import Layout from "../layouts/Layout.astro";
import Migas from "../components/libro/Migas.astro";
import AvatarGroup from "../components/libro/AvatarGroup.astro";
import avatar from "../assets/libro/avatar.webp";
import Valoraciones from "../components/Valoraciones.astro";
---

<Layout>
  <Migas />
  <div class="caixa flex flex-col lg:flex-row gap-12 xl:gap-24 mt-6">
    <!-- COLUMNA IZQ -->
    <div class="flex-1 sm:w-[420px] sm:mx-auto lg:max-w-[300px]">
      <img src={avatar.src} class="shadow-md rounded-3xl" alt="" />
    </div>
    <!-- COLUMNA DRCH -->
    <div class="flex-1">
      <div class="flex gap-6 items-baseline">
        <h1 class="text-4xl lg:text-5xl">Manuel Rivas</h1>
        <div class="text-slate-400">A Coruña, 1957</div>
      </div>
      <a href="#" class="underline block mt-2 underline-offset-4 text-cyan-500 hover:text-cyan-400 font-medium">45 títulos</a>
      <!-- engadir a lista / usuarios que o listaron -->
      <div class="flex flex-col sm:flex-row gap-9 sm:gap-12 mt-12">
        <div>
          <button type="button" class="boton azul">
            <svg class="size-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
            </svg>
            Seguir autor
          </button>
        </div>
        <div class="flex items-end gap-4">
          <AvatarGroup />
          <div class="text-slate-500 text-sm mt-2">68 seguidores</div>
        </div>
      </div>
      <!-- sinopse -->
      <div class="mt-12 space-y-3">
        <p>
          {data.bio.map((item) => <p>{item.parrafo}</p>)}
        </p>
      </div>
      <!-- xéneros e etiquetas -->
      <div class="mt-12 text-base">
        <ul class="inline-flex flex-wrap items-center gap-x-6 gap-y-2">
          <li>Xéneros:</li>
          {
            data.xeneros.map((item) => (
              <li>
                <a class="text-cyan-500 font-medium underline underline-offset-4 hover:text-cyan-600" href={item.url}>
                  {item.tit}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mt-3 text-base">
        <ul class="inline-flex flex-wrap items-center gap-x-6 gap-y-2">
          <li>Etiquetas:</li>
          {
            data.etiquetas.map((item) => (
              <li>
                <a class="text-cyan-500 font-medium underline underline-offset-4 hover:text-cyan-600" href={item.url}>
                  {item.tit}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <!-- ficha -->
      <div class="mt-20 bg-slate-100 rounded-4xl p-12 shadow">
        <h2 class="text-2xl mb-6">Premios e recoñecementos</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 text-base gap-6">
          {
            data.premios.slice(0, 4).map((item) => (
              <div>
                <div class="uppercase text-slate-500 text-sm">{item.ano}</div>
                <a href="#">{item.texto}</a>
              </div>
            ))
          }
        </div>
        <div id="hs-show-hide-collapse-heading" class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-show-hide-collapse">
          <div class="grid grid-cols-1 lg:grid-cols-2 text-base gap-6">
            {
              data.premios.slice(4).map((item) => (
                <div>
                  <div class="uppercase text-slate-500 text-sm">{item.ano}</div>
                  <a href="#">{item.texto}</a>
                </div>
              ))
            }
          </div>
        </div>
        <div class="text-center -mb-25 mt-12">
          <button
            type="button"
            class="hs-collapse-toggle inline-flex items-center gap-3 px-12 pt-3 pb-4 font-semibold bg-slate-100 hover:bg-slate-200 rounded-b-3xl transition-colors shadow-sm"
            id="hs-show-hide-collapse"
            aria-expanded="false"
            aria-controls="hs-show-hide-collapse-heading"
            data-hs-collapse="#hs-show-hide-collapse-heading"
          >
            <span class="hs-collapse-open:hidden">Ver máis premios</span>
            <span class="hs-collapse-open:block hidden">Ver menos premios</span>
            <svg class="hs-collapse-open:rotate-180 shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Matriz de libros -->
  <div class="caixa mt-36">
    <h2 class="text-4xl">Libros de Manuel Rivas</h2>
    <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-3 sm:gap-6 mt-6">
      {
        data.libros.map((libro) => (
          <div>
            <a href="/libro" class="hover:text-cyan-500">
              <div>
                <div class=" aspect-[1/1.8] flex items-end">
                  <img class="shadow-md transition-all duration-300 hover:mb-3" src={`/manolo/${libro.imaxe}.jpg`} alt="A brown dog sitting on a grassy field under a clear sky, looking attentively forward, surrounded by trees in the background, calm and peaceful atmosphere" />
                </div>
              </div>
              <div class="font-bold text-base sm:text-xl mt-4 leading-[1.3em]">{libro.tit}</div>
              <div class="text-sm text-slate-500 flex items-center gap-1 mt-3">
                <div>
                  <svg class="fill-cyan-500 size-4" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z" />
                  </svg>
                </div>
                <div class="font-bold text-cyan-500">{libro.nota}</div>
                <div class="border-l border-slate-300 ml-1 pl-2">{libro.listado} listado</div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </div>
  <div class="bg-neutral-100 pb-24 mt-24">
    <!-- Valoraciones da comunidade -->
    <Valoraciones titular="Qué di a comunidade dos libros de Manuel Rivas?" />
  </div>
</Layout>
