---
import data from "../data/usuario.json";
import Layout from "../layouts/Layout.astro";
import Migas from "../components/libro/Migas.astro";
import Actividade_comunidade from "../components/usuario/actividade_comunidade.astro";
import AvatarGroup from "../components/libro/AvatarGroup.astro";
---

<Layout>
  <Migas />
  <div class="caixa flex flex-col lg:flex-row gap-12 xl:gap-24 mt-6">
    <!-- COLUMNA IZQ -->
    <div class="flex-1 sm:w-[420px] sm:mx-auto lg:max-w-[300px]">
      <div class="relative">
        <img src="/letores/paula.webp" class="shadow-md rounded-3xl" alt="" />
        <button class="absolute bottom-3 start-3 bg-white rounded-full p-2 shadow-md hover:bg-slate-100 transition-colors">
          <svg class="size-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"></path><path d="m15 5 4 4"></path>
          </svg>
        </button>
      </div>
    </div>
    <!-- COLUMNA DRCH -->
    <div class="flex-1">
      <div class="flex flex-col gap-6 lg:flex-row justify-between">
        <div>
          <h1 class="text-4xl lg:text-5xl">Paula Alonso</h1>
          <div class="text-slate-400 mt-3">A Coruña | Uniuse en Marzo de 2025</div>
        </div>
        <div>
          <button type="button" class="boton gris !text-slate-700 flex items-center gap-2">
            <svg class="size-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"></path><path d="m15 5 4 4"></path>
            </svg>
            <span>Editar perfil</span>
          </button>
        </div>
      </div>
      <!-- botóns estados dos libros -->
      <div class="flex flex-col md:flex-row gap-6 mt-9">
        <div>
          <a href="/usuario_lista" class="boton gris !text-slate-900">
            <svg class="pendente size-6" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
              <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"></path>
            </svg>
            14 Pendentes
          </a>
        </div>
        <div>
          <a href="/usuario_lista" class="boton gris !text-slate-900">
            <svg class="lendo size-6" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
              <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"></path>
            </svg>
            2 Lendo
          </a>
        </div>
        <div>
          <a href="/usuario_lista" class="boton gris !text-slate-900">
            <svg class="lido size-6" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
              <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"></path>
            </svg>
            85 Lidos
          </a>
        </div>
      </div>
      <!-- descrición -->
      <div class="mt-9 space-y-3 max-w-lg">
        <p>Apaixonada polos libros, soñadora entre páxinas e sempre na procura dunha nova historia.</p>
      </div>
      <!-- seguidores, seguidos -->
      <div class="flex flex-col sm:flex-row gap-9 sm:gap-12 mt-12 text-slate-500 font-bold">
        <div class="flex items-center gap-4">
          <AvatarGroup />
          <div>68 <div class="text-sm font-normal inline-block">seguidores</div></div>
        </div>
        <div class="flex items-center gap-4">
          <AvatarGroup />
          <div>18 <div class="text-sm font-normal inline-block">seguidos</div></div>
        </div>
      </div>
    </div>
  </div>

  <!-- FIN DE COLUMNAS -->

  <div class="caixa">
    <!-- Encabezado -->
    <div class="flex flex-col sm:flex-row gap-6 sm:gap-12 mt-20">
      <div><h2 class="text-4xl">As túas listas</h2></div>
      <div>
        <a href="/cuenta_libros" class="boton azul flex items-center gap-2">
          <svg class="size-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"></path>
          </svg>
          <span>Ver todos os teus libros</span>
        </a>
      </div>
    </div>
    <!-- Listas en paneles -->
    <div class="w-full flex flex-col lg:flex-row gap-0 lg:gap-12">
      {
        data.listas.map((lista) => (
          <div class="panel flex-1">
            {/* Título */}
            <div class="flex gap-3">
              <svg class={`${lista.ico} size-9`} viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
              </svg>
              <div class="flex items-baseline gap-4">
                <h2 class="text-2xl">{lista.estado}</h2>
                <a class="text-slate-400 hover:text-slate-300 underline underline-offset-4" href="/usuario_lista">
                  {lista.titulos} Títulos
                </a>
              </div>
            </div>
            {/* libros */}
            <div class="flex overflow-hidden *:max-h-44 *:-mr-6">
              {lista.portadas.map((libro) => (
                <div class="aspect-[1/1.8] flex items-end">
                  <div class="relative">
                    <img class="shadow-md transition-all duration-300 hover:mb-3" src={`/libros/${libro.portada}.jpg`} alt={libro.portada} />
                  </div>
                </div>
              ))}
            </div>
            {/* Enlace */}
            <a class="text-cyan-500 hover:text-cyan-400 underline underline-offset-4 text-sm mt-6 block" href="/usuario_lista">
              Ver lista completa
            </a>
          </div>
        ))
      }
    </div>
    <!-- listas personalizadas -->
    <div class="panel">
      <div class="flex gap-3 items-center">
        <svg class="fill-slate-900 stroke-slate-900 size-9" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
          <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"></path>
        </svg>
        <h2 class="text-2xl flex-1">As túas listas personalizadas</h2>
        <button class="uppercase text-sm font-semibold hover:text-slate-700">
          <svg class="fill-slate-900 stroke-slate-900 size-4 inline-block" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14"></path>
            <path d="M12 5v14"></path>
          </svg>
          Engadir nova lista
        </button>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 text-base gap-6 mt-6">
        {
          data.outras_listas.map((lista) => (
            <div>
              <div class="font-semibold">{lista.tit}</div>
              <a class="text-slate-400 hover:text-slate-500 underline underline-offset-4" href="/usuario_lista">
                {lista.num} Títulos
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <!-- Actividade recente -->
  <Actividade_comunidade />
</Layout>
