---
import data from "../data/ficha.json";
import Layout from "../layouts/Layout.astro";
import Migas from "../components/libro/Migas.astro";
import Comentarios from "../components/libro/Comentarios.astro";
import Resultados from "../components/libro/Resultados.astro";
import Estrelas from "../components/Estrelas.astro";
import AvatarGroup from "../components/libro/AvatarGroup.astro";
import Libros from "../components/Libros.astro";
import BotonListas from "../components/libro/BotonListas.astro";
import ModalValora from "../components/libro/ModalValora.astro";
---

<Layout>
  <Migas />
  <div class="caixa flex flex-col lg:flex-row gap-12 xl:gap-24 mt-6">
    <!-- COLUMNA IZQ -->
    <div class="flex-1 sm:w-[420px] sm:mx-auto lg:max-w-[300px]">
      <img src="/libro/portada-nena.jpg" class="shadow-md" alt="" />
    </div>
    <!-- COLUMNA DRCH -->
    <div class="flex-1">
      <h1 class="text-4xl lg:text-5xl">A nena lectora</h1>
      <a href="#" class="underline block mt-2 underline-offset-4">Manuel Rivas</a>
      <!-- valoración -->
      <div class="flex mt-6">
        <div class="w-40 text-cyan-500">
          <Estrelas />
        </div>
        <div>
          <span class="text-2xl font-bold inline-block pl-3 pr-2">4.5</span>
          <span class="text-slate-500 text-sm">250 valoracións</span>
        </div>
      </div>
      <!-- engadir a lista / usuarios que o listaron -->
      <div class="flex flex-col sm:flex-row gap-9 sm:gap-12 mt-6">
        <div>
          <BotonListas />
        </div>
        <div class="flex items-end gap-4">
          <AvatarGroup />
          <div class="text-slate-500 text-sm mt-2">68 veces listado</div>
        </div>
      </div>
      <!-- sinopse -->
      <div class="mt-12">
        <p>
          «Aurora achegouse e abrazoume. Detrás dela había un grupo de mulleres. Presentoumas: ''Son a miña cuadrilla de cigarreiras. Traballamos xuntas na fábrica. Ti farás que soñemos mentres traballamos.'' Agora ese ía ser o meu oficio. O de nena lectora.» Entre finais do século XIX e comezos do
          XX a cidade da Coruña foi faro do pensamento libertario en Galicia.
        </p>
        <div id="hs-show-hide-collapse-heading" class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-show-hide-collapse">
          <p class="mt-2">
            Os ateneos e as bibliotecas de barrio eran a porta de acceso á cultura das clases populares, a solidariedade obreira floreceu. Nas fábricas de tabacos e de mistos as traballadoras organizáronse para mellorar as súas condicións de vida. A lectura dentro das fábricas é o símbolo poderoso
            deste movemento de esperanza que se viu truncado a partir de 1936. «A nena lectora» é o segundo título da colección Pequena Memoria, para recuperar as voces silenciadas da historia.
          </p>
        </div>
        <button
          type="button"
          class="mt-4 hs-collapse-toggle inline-flex items-center gap-x-1 uppercase text-sm font-semibold rounded-lg border border-transparent text-slate-400 decoration-2 hover:text-slate-500 focus:outline-hidden focus:text-slate-500 disabled:opacity-50 disabled:pointer-events-none"
          id="hs-show-hide-collapse"
          aria-expanded="false"
          aria-controls="hs-show-hide-collapse-heading"
          data-hs-collapse="#hs-show-hide-collapse-heading"
        >
          <span class="hs-collapse-open:hidden">Ler máis</span>
          <span class="hs-collapse-open:block hidden">Ler menos</span>
          <svg class="hs-collapse-open:rotate-180 shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m6 9 6 6 6-6"></path>
          </svg>
        </button>
      </div>
      <!-- ficha -->
      <div class="mt-12 bg-slate-100 rounded-4xl p-12 shadow">
        <div class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-5 text-base gap-3">
          <div>
            <div class="uppercase text-slate-500 text-sm">editorial</div>
            <a href="#">Xerais</a>
          </div>
          {
            data.datos.map((item) => (
              <div>
                <div class="uppercase text-slate-500 text-sm">{item.tit}</div>
                <a href="#">{item.valor}</a>
              </div>
            ))
          }
        </div>
      </div>
      <!-- xéneros e etiquetas -->
      <div class="mt-12 text-base">
        <ul class="inline-flex flex-wrap items-center gap-x-6 gap-y-2">
          <li>Xéneros:</li>
          {
            data.xeneros.map((item) => (
              <li>
                <a class="text-cyan-500 font-medium underline underline-offset-4 hover:text-cyan-600" href={item.url}>
                  {item.tit}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mt-3 text-base">
        <ul class="inline-flex flex-wrap items-center gap-x-6 gap-y-2">
          <li>Etiquetas:</li>
          {
            data.etiquetas.map((item) => (
              <li>
                <a class="text-cyan-500 font-medium underline underline-offset-4 hover:text-cyan-600" href={item.url}>
                  {item.tit}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <!-- autor -->
      <div class="flex flex-col sm:flex-row mt-24 gap-6 sm:gap-12">
        <div>
          <img class="inline-block size-36 rounded-4xl" src="/libro/avatar.webp" alt="Avatar" />
        </div>
        <div class="flex-1">
          <div class="flex items-center gap-12">
            <h2 class="text-3xl text-cyan-500 pb-2">Manuel Rivas</h2>
            <button class="boton gris !py-2">
              <svg class="size-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
              </svg>
              Seguir
            </button>
          </div>
          <div class="mt-4">
            <p>Manuel Rivas (A Coruña, 1957), escritor e xornalista. A súa obra, escrita en galego, está traducida a máis de trinta linguas e publicada polas máis prestixiosas editoras literarias do mundo.</p>
          </div>
          <div class="mt-6">
            <a href="/autor" class="font-bold block hover:text-slate-600"
              >Ver ficha completa
              <svg class="size-5 inline-block" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- banda valora o libro -->
  <div class="bg-slate-100 text-center py-20 mt-36">
    <div class="caixa">
      <div class="text-4xl font-bold font-display">Qué che pareceu este libro?</div>
      <div class="mt-3 text-xl">Axuda a outros lectores deixando a túa opinión sobre este libro</div>
      <div class="w-44 text-slate-400 mt-6 mx-auto">
        <Estrelas />
      </div>
      <button type="button" class="boton negro mx-auto mt-8" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-scale-animation-modal" data-hs-overlay="#hs-scale-animation-modal"> Valorar este libro </button>
      <ModalValora />
    </div>
  </div>
  <!-- resultados e comentarios -->
  <div class="caixa mt-20">
    <div class="text-4xl font-bold font-display">Valoracións dos lectores</div>
  </div>
  <div class="caixa flex flex-col lg:flex-row gap-12 xl:gap-24 mt-20">
    <!-- COLUMNA IZQ -->
    <div class="flex-1 sm:w-[400px] sm:mx-auto lg:max-w-[300px]">
      <Resultados />
    </div>
    <!-- COLUMNA DRCH -->
    <div class="flex-1">
      <Comentarios />
    </div>
  </div>
  <!-- SLIDERS -->
  <Libros titular="Outros libros de Manuel Rivas" />
  <Libros titular="A outros usuarios gustoulles…" />
</Layout>
