---
import data from "../../data/valoracions.json";
---

<div class="flex flex-col gap-12">
  {
    data.opinions.slice(0, 2).map((item) => (
      <div class="flex gap-12 pb-18 border-b border-slate-300">
        <div>
          <img class="inline-block size-18 rounded-full" src={item.foto} alt="Avatar" />
        </div>
        <div class="flex-1">
          <div class="flex space-between items-start">
            <div class="flex-1">
              <div class="font-bold">{item.nome}</div>
              <div class="text-slate-500 text-sm pb-2">{item.opinions} opinións</div>
            </div>
            <div class="text-cyan-500 font-semibold text-xl flex items-center gap-2">
              <div>{item.estrelas}</div>
              <div>
                <svg class="fill-current size-5" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z" />
                </svg>
              </div>
            </div>
          </div>
          <p>{item.comentario}</p>
          <div class="flex items-center gap-4 mt-5">
            <button class="botoncito">
              <svg class="size-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M7 10v12" />
                <path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z" />
              </svg>
              Útil
            </button>
            <button class="botoncito dos">Denunciar</button>
          </div>
        </div>
      </div>
    ))
  }
</div>
<div id="hs-basic-collapse-heading" class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-collapse">
  <div class="flex flex-col gap-12 mt-12">
    {
      data.opinions.slice(2).map((item) => (
        <div class="flex gap-12 pb-18 border-b border-slate-300">
          <div>
            <img class="inline-block size-18 rounded-full" src={item.foto} alt="Avatar" />
          </div>
          <div class="flex-1">
            <div class="flex space-between items-start">
              <div class="flex-1">
                <div class="font-bold">{item.nome}</div>
                <div class="text-slate-500 text-sm pb-2">{item.opinions} opinións</div>
              </div>
              <div class="text-cyan-500 font-semibold text-xl flex items-center gap-2">
                <div>{item.estrelas}</div>
                <div>
                  <svg class="fill-current size-5" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z" />
                  </svg>
                </div>
              </div>
            </div>
            <p>{item.comentario}</p>
            <div class="flex items-center gap-4 mt-5">
              <button class="botoncito">
                <svg class="size-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M7 10v12" />
                  <path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z" />
                </svg>
                Útil
              </button>
              <button class="botoncito dos">Denunciar</button>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>

<div class="text-center">
  <button
    type="button"
    class="hs-collapse-toggle inline-flex gap-3 items-center px-12 pt-3 pb-4 font-semibold bg-slate-100 hover:bg-slate-200 rounded-b-3xl transition-colors shadow-sm"
    id="hs-basic-collapse"
    aria-expanded="false"
    aria-controls="hs-basic-collapse-heading"
    data-hs-collapse="#hs-basic-collapse-heading"
  >
    <span class="hs-collapse-open:hidden">Ver máis valoracións</span>
    <span class="hs-collapse-open:block hidden">Ver menos valoracións</span>
    <svg class="hs-collapse-open:rotate-180 shrink-0 size-4minline-block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="m6 9 6 6 6-6"></path>
    </svg>
  </button>
</div>
